<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css" id="cssurl">
    <title>STRIDE Match</title>
    <style>
        .not-matched, .btn-secondary {
            background-color: #fff;
            color: #000;
        }

        .btn-primary{
            background-color: #007bff;
            color: #fff;
        }

        .seen{
            background-color: #d3d3d3;
        }
        
        .matched{
            background-color: #797a79;
            color: #f8f8f8
        }
    
        .tooltip {
            position: absolute;
            background-color: #df2121;
            color: #191717;
            padding: 5px 10px;
            border-radius: 100px;
            font-size: 20px;
            z-index: 100;
        }
        /* .details {
        position: absolute;
        top: 0;
        transform: translateY(70%) scale(0);
        transition: transform 0.1s ease-in;
        transform-origin: left;
        display: inline;
        background: white;
        z-index: 20;
        min-width: 100%;
        padding: 1rem;
        border: 1px solid black;
        }
        .has-details {
        position: relative;
        }
        .has-details:hover span {
            transform: translateY(70%) scale(1);
        } */


    </style>
</head>
<body>
    

    <div class="container">
        <h1 class="mt-5 mb-4">STRIDE Match</h1>
        <div class="mb-3">
            <label for="match_id" class="match-id-label">Match ID:</label>
            <select class="form-control js-example-tags" id="match_id">
                <option value="" selected>Type or select a Match ID</option>
                {% for match_id, seen in match_id_seen.items() %}
                    {% if seen == 0 %}
                        <option value="{{ match_id }}" class="not-matched">{{ match_id }}</option>
                    {% else %}
                        <option value="{{ match_id }}" class="matched seen">{{ match_id }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="row">
            <div class="col-lg-12 table-container mb-3">
                
                <table class="table table-striped" id="table_a"></table>
            </div>
            
            <div class="col-lg-12 table-container">
                
                <table class="table table-striped" id="table_b"></table>
            </div>
        </div>
        <button type="button" class="btn btn-primary" id="mark-match-btn">Mark as matched</button>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        let currentSeen = 0;

        function fetch_data(match_id) {
            $.getJSON("/data/" + match_id, function(data) {
                // currentSeen = data.seen;
                console.log(data)
                // Your existing code for populating the tables remains the same
                 // Populate Table A
                 const table_a_columns = ['screenid', 'which_fuint', 'item_index', 'fall_injurybonebreak', 'fall_dislocatedjoint', 'fall_injuryhead', 'fall_cutbleeding', 'fall_cutbleeding_close', 'fall_sprainstrain', 'fall_bruiseswell', 'fall_otherinjury', 'fall_bonebrk_1', 'fall_bonebrk_2', 'fall_bonebrk_3', 'fall_bonebrk_4', 'fall_bonebrk_5', 'fall_bonebrk_6', 'fall_bonebrk_7', 'fall_bonebrk_8', 'fall_bonebrk_9', 'fall_bonebrk_10', 'fall_bonebrk_11', 'fall_bonebrk_12', 'fall_bonebrk_13', 'fall_bonebrk_14', 'fall_bonebrk_15', 'fall_bonebrk_16', 'fall_bonebrk_17', 'fall_bonebrk_18', 'fall_bonebrk_19', 'fall_bonebrk_20', 'fall_bonebrk_21', 'fall_er_date', 'fall_doctor_date', 'fall_otherfacility_date', 'fall_overnighthosp_date', 'siteuid', 'event', 'id']

                $("#table_a").html("");
                let table_a_header = "";
                for (let i = 0; i < table_a_columns.length; i++) {

                        table_a_header += "<th scope='col'>" + table_a_columns[i] + "</th>";
                    }
                table_a_header += "</tr></thead>";
                $("#table_a").append(table_a_header);

                let table_a_body = "<tbody>";

                for (let i = 0; i < table_a_columns.length; i++) {


                    table_a_body += "<td>" + data.table_a[0][table_a_columns[i]] + "</td>";
                }
                table_a_body += "</tr>";

                table_a_body += "</tbody>";
                $("#table_a").append(table_a_body);

                // Populate Table B
                const table_b_columns = [
                    "StrideId", "ServiceDate", "AdmitDateTime", "DischDateTime", "siteuid", "AdmitDxCode", "DX1Code", "DX2Code", "DX3Code", "DX4Code", "DX5Code", "DX6Code", "DX7Code", "DX8Code", "DX9Code", "DX10Code", "ProcCode1", "ProcCode2", "ProcCode3", "ProcCode4", "ProcCode5", "ProcCode6", "id", "screenid", "match"
                ];

                $("#table_b").html("");
                let table_b_header = "<thead><tr><th scope='col'>Select if match</th>";
                for (let i = 0; i < table_b_columns.length; i++) {
                        table_b_header += "<th scope='col'>" + table_b_columns[i] + "</th>";
                    }
                table_b_header += "</tr></thead>";
                $("#table_b").append(table_b_header);

                let table_b_body = "<tbody>";
                for (let i = 0; i < data.table_b.length; i++) {
                    table_b_body += "<tr><td><input type='checkbox' class='checkbox' data-id='" + data.table_b[i].id + "' " + (data.table_b[i].match ? "checked" : "") + "></td>";
                    for (let j = 0; j < table_b_columns.length; j++) {
                        let query =table_b_columns[j]+'||'+data.table_b[i][table_b_columns[j]];
                        // table_b_body += "<td class='has-details' data-description='" + query + "'>" + data.table_b[i][table_b_columns[j]] 
                        //     + "<div id='tooltip' class='tooltip'></div></td>" + 
                        //                 "";
                        table_b_body += "<td class='tooltip-cell' data-query='" + query + "'>" + data.table_b[i][table_b_columns[j]] + "</td>";
                        // table_b_body += "<td>" + data.table_b[i][table_b_columns[j]] + "</td>";
                    }
                    table_b_body += "</tr>";
                }
                table_b_body += "</tbody>";
                $("#table_b").append(table_b_body);
            });
        }

        function updateSeenButton() {
            console.log(currentSeen==1)
            if (currentSeen == 1) {
            
                $("#mark-match-btn").removeClass("btn-primary").addClass("btn-secondary").text("Unmark this record");
            } else {
                $("#mark-match-btn").removeClass("btn-secondary").addClass("btn-primary").text("Mark as matched");
            }
        }

        $("#match_id").on("change", function() {
            let selectedOption = $(this).find("option:selected");
            console.log(selectedOption);
            currentSeen = selectedOption.hasClass("seen") ? 1 : 0;
            console.log(currentSeen);
            updateSeenButton();
        });

        $("#mark-match-btn").on("click", function() {
            let matchId = $("#match_id").val();
            console.log(matchId);
            if (matchId) {
                $.post("/mark_match", {match_id: matchId, seen: currentSeen == 1 ? 0 : 1}, function() {
                let selectedOption = $("#match_id").find("option:selected");
                if (currentSeen == 1) {
                selectedOption.removeClass("seen matched").addClass("not-matched");
                currentSeen = 0;
                } else {
                selectedOption.removeClass("not-matched").addClass("seen matched");
                currentSeen = 1;
                }
                updateSeenButton();
                });
                }
            });
        $(".table-container").css("display", "block");

        $(".js-example-tags").select2({
        tags: true,
        templateResult: function (data) {
            var $result = $("<span></span>");
            $result.text(data.text);

            if ($(data.element).hasClass("matched")) {
                $result.addClass("matched");
            }
            // if ($(data.element).hasClass("seen")) {
            //     $result.addClass("seen");
            // }
            return $result;
        },
        templateSelection: function (data) {
            var $selection = $("<span></span>");
            $selection.text(data.text);

            if ($(data.element).hasClass("matched")) {
                $selection.addClass("matched");
            }
            // if ($(data.element).hasClass("seen")) {
            //     $selection.addClass("seen");
            // }
            return $selection;
        }
    });


        $("#match_id").on("change input", function() {
            fetch_data($(this).val());
        }).on("input", function() {
            $(this).trigger("change");
        });

        // $("#table_b").on("mouseenter", "td[data-description]", function (e) {
        //     let query = $(this).data("description");
        //     if (query) {
        //         $.getJSON("/description", { query: query }, function (data) {
        //             console.log(data)
        //             $("#tooltip").text(data.description).show();
        //         });
        //     }
        // });

        // $("#table_b").on("mouseleave", "td[data-description]", function () {
        //     $("#tooltip").hide();
        // });
        // function initializeTooltips() {
        //     let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        //     let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        //         return new bootstrap.Tooltip(tooltipTriggerEl);
        //     });
        // }

        $("#table_b").on("mouseenter", ".tooltip-cell", function () {
            let query = $(this).data("query");
            if (query) {
                $.getJSON("/description", { query: query }, function (data) {
                    if (data.description) {
                        $(".tooltip-cell").attr("data-bs-toggle", "tooltip");
                        $(".tooltip-cell").attr("data-bs-placement", "top");
                        $(".tooltip-cell").attr("title", data.description);
                        // initializeTooltips();
                    } else {
                        $(".tooltip-cell").removeAttr("data-bs-toggle");
                        $(".tooltip-cell").removeAttr("data-bs-placement");
                        $(".tooltip-cell").removeAttr("title");
                    }
                });
            }
        });

        $("#table_b").on("mouseleave", ".tooltip-cell", function () {
            $(".tooltip-cell").removeAttr("data-bs-toggle");
            $(".tooltip-cell").removeAttr("data-bs-placement");
            $(".tooltip-cell").removeAttr("title");
        });




        // Your existing event handlers for the checkboxes remain the same
        $(document).on("change", ".checkbox", function() {
            let id = $(this).data("id");
            let checked = $(this).is(":checked");
            $.post("/update_match", {id: id, match: checked ? 1 : 0});
        });
        </script>
<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script> -->

</body>
</html>

